@import url("../css/farm.css");
@import url("../css/modal.css");

.farm-content {
    width: 100vw;
    height: 100vh;
    
    background-image: url("../../assets/farm/PinBoardWide.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center, center;
   
}

@media only screen and (max-width: 1080px) {
    .farm-content {
       background-image: url("../../assets/farm/PinBoardTight.png");
    }
}