@import url("../css/admin.dashboard.css");
@import url("../css/admin.single.record.css");

.quest{
    top: 192px;
}

.save-button {
    top: 292px;
}

.btn-primary {
    background-color: rgb(196, 110, 18) !important;
}