<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Document</title>

</head>

<body>
  <button id="scrollToTopBtn">↑</button>
  <div class="modal fade quest-modal" id="questModal" tabindex="-1" aria-labelledby="questModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="lucky-wheel" (click)="openWheelModal()" *ngIf="isSignedIn()">
            <img src="assets/modal/LUCKY 1.png" class="w-50" alt="lucky-wheel">
          </div>
          <div class="cross-btn">
            <button type="button" data-bs-dismiss="modal" aria-label="Close">
              <img src="assets/modal/cross-btn.png" class="w-50" alt="cross-btn">
            </button>
          </div>
          <div class="weekly-text">
            <h1>Weekly Quests</h1>
          </div>
          <div class="row">
            <div class="col-lg-8 weekly-sec" *ngIf="!isSignedIn()">
              <p class="modal-title fw-bold text-center mb-2 pt-2">Please Login to with X to See and Join The Weekly Quests
              </p>
              <div class="quest-item d-flex align-items-center pt-3" *ngFor="let quest of noLoggedInQuests" style="filter: blur(8px);">
                <div class="mx-3 d-flex flex-column align-items-center">
                  <img src="assets/modal/coin 1.png" alt="coin-icon" class="w-50">
                  <p>9999</p>
                </div>
                <div class="mx-3">
                  <h5 class="fw-bold">{{quest.title}}</h5>
                  <a>{{quest.text}}</a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 weekly-sec" *ngIf="isSignedIn()">
              <p class="modal-title fw-bold text-center mb-2 pt-2">Complete Weekly Quests to collect $ROW
              </p>
              <div class="quest-item d-flex align-items-center pt-3" *ngFor="let quest of quests" (click)="enroll(quest)">
                <div class="mx-3 d-flex flex-column align-items-center">
                  <img src="assets/modal/coin 1.png" alt="coin-icon" class="w-50">
                  <p>{{quest.prizeVolume}}</p>
                </div>
                <div class="mx-3">
                  <h5 class="fw-bold">{{quest.name}}</h5>
                  <a>{{quest.description}}</a>
                </div>
                <img class="status-icon" src="../assets/modal/pending.png" *ngIf="isEnrollStatus(quest)">
                <img class="status-icon" src="../assets/modal/success.png" *ngIf="isSuccessStatus(quest)">
              </div>
            </div>
            <div class="col-lg-4 px-2">
              <div class="profile-card d-flex">
                <div *ngIf="isSignedIn()">
                  <div class="mx-2">
                    <img src="assets/modal/PFP.png" alt="Profile Image">
                    <h3>{{name}}</h3>
                  </div>
                  <div class="mx-2">
                    <p class="text-nowrap fw-bold">LEVEL <span class="level">{{level}}</span></p>
                    <p class="text-nowrap fw-bold">$ROW: <span class="px-1"></span> {{tokenBalance}}</p>
                  </div>
                </div>
                <div class="x-container" *ngIf="!isSignedIn()">
                    <div class="login-label fw-bold">You can login the RUYUI with X</div>
                    <button class="sign-in-x" (click)="loginViaTwitter()">
                      Login with <img style="position: relative; top: 4px; right: -5px; width: 20px; height: auto; border-radius: 0px 0px 0px 0px;" src="assets/modal/twitter-2.png">
                    </button>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade quest-modal" id="wheelModal" tabindex="-1" aria-labelledby="wheelModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="back d-flex justify-content-center">
            <a (click)="goBackToFirstModal()">Go back to Quest Page</a>
          </div>
          <div class="lucky-wheel">
            <img src="assets/modal/LUCKY 1.png" class="w-50" alt="lucky-wheel">
          </div>
          <div class="cross-btn" style="top: 2px;">
            <button type="button" data-bs-dismiss="modal" aria-label="Close">
              <img src="assets/modal/cross-btn.png" class="w-50" alt="cross-btn">
            </button>
          </div>
          <div class="row">
            <div class="col-lg-8 weekly-sec2" id="weekly-sec">
              <div class="timer_topup" id="timer_topup" *ngIf="!wheelAvailable">
                <h4 class="px-3 pt-3">YOU'VE WON {{currentPrize}} POINTS! </h4>
                <p>SPIN AGAIN IN</p>
                <div class="timer d-flex justify-content-center" id="countdown">
                  <div><span id="hours">{{hours}}</span>
                    <p>HRS</p>
                  </div>
                  <span class="px-2">:</span>
                  <div><span id="minutes">{{minutes}}</span>
                    <p>MINS</p>
                  </div>
                  <span class="px-2">:</span>
                  <div><span id="seconds">{{seconds}}</span>
                    <p>SECS</p>
                  </div>
                </div>
              </div>
              <div class="TreeWheel">
                <img src="assets/modal/TreeWheel-Tree.png" alt="TreeWheel-Tree" class="img-fluid " id="tree_img">
                <div class="bg"></div>
                <div class="inner-image" id="wheel_img">
                  <img src="assets/modal/TreeWheel-Wheel.png" alt="Inner Image" class="img-fluid" id="wheel_spinner">
                  <div class="img-fluid-2" id="wheel_slice_container" (click)="turnWheel()">

                    <div *ngFor="let item of wheelValues">
                      <div class="{{item.className}}">
                         <span><img src="assets/modal/coin 1.png" alt="coin-icon" style="width: 15px; margin-left: 18px;"> {{item.value}}</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <p class=" text-center">Spin the wheel to get your daily ROW Points!</p>
            </div>

            <div class="col-lg-4 px-2">
              <div class="profile-card d-flex">
                <div class="mx-2">
                  <img src="assets/modal/PFP.png" alt="Profile Image">
                  <h3>{{name}}</h3>
                </div>
                <div class="mx-2">
                  <p class="text-nowrap fw-bold">LEVEL <span class="level">{{level}}</span></p>
                  <p class="text-nowrap fw-bold">$ROW: <span class="px-1"></span> {{tokenBalance}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="fixed-buttons">
    <a id="questModal" data-bs-toggle="modal" data-bs-target="#questModal" (click)="openQuestModal()"><img
        src="assets/minnies/book_icon.png" alt="Book Icon"></a>
    <a routerLink="nftcollection">
      <div class="nft-container">
        <img src="assets/minnies/gif.gif" alt="NFT">
        <div class="nft-text d-none d-md-block">
          <span>VISIT RUYUI NFT</span>
          <span>COLLECTION</span>
        </div>
      </div>
    </a>
  </div>
</body>

<router-outlet></router-outlet>