@import url("../css/admin.dashboard.css");
@import url("../css/admin.single.record.css");

.description{
    top: 192px;
}

.content{
    top: 244px;
}

.platform{
    top: 296px;
}

.operation{
    top: 348px;
}

.platform-content-id {
    top: 400px;
}

.prize{
    top: 452px;
}

.starting-date{
    top: 504px;
}

.ending-date{
    top: 556px;
}

.active-check{
    top: 608px;
}

.save-button {
    top: 708px;
}

