<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NFTCollection</title>
  <link rel="stylesheet" href="../css/modal.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <style>
    .random-images img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

    .random-images {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

  </style>
</head>

<body>

  <button id="scrollToTopBtn">↑</button>
  <section class="banner-section">
    <nav class="navbar navbar-expand-lg px-lg-5 pt-3">
      <div class="container-fluid logo">
        <a routerLink="/home">
          <img src="../../assets/RuyuiLogo.webp" alt="BootstrapBrain Logo" width="40" style="width: 40px;"
            class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item ms-2"> <a class="nav-link" aria-current="page" routerLink="/thelore">THE
                LORE</a> </li>
            <li class="nav-item ms-2"> <a class="nav-link" routerLink="/minnies">MINNIES</a> </li>
            <li class="nav-item ms-2"> <a class="nav-link" routerLink="/team">TEAM</a> </li>
            <li class="nav-item ms-2"> <a class="nav-link" routerLink="/studio">THE STUDIO</a> </li>
          </ul>
          <form class="d-flex justify-content-center ms-3"> <a routerLink="/farm" class="navbar_button">FARM
              $ROW</a> </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row align-items-start">
        <div class="col-lg-8">
          <div class="banner-content d-flex flex-column justify-content-start p-4">
            <h1>RUYUI NFT Collection</h1>
            <p>9,999 unique characters created with over 600 traits, waiting for you to find the gates and join Bob’s
              journey.
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--<section class="slider">

<div class="slider-container owl-carousel owl-theme">
  <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)" style="width: 100%;">
    <ng-container *ngFor="let slide of slidesStore">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.src">
        
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</div>

</section>-->
  <section class="mt-5 position-relative slider-section" style="overflow:hidden; font-family: Montserrat;">
    <div class="container pt-lg-5">
      <div class="main-container row custom_height">
        <div class="text-container col-lg-6">
          <div class="d-none d-lg-block">
            <p class="text-lg-start text-center d-none d-lg-block" style="font-weight: bolder; font-size: 24px;"></p>
            <p class="text-lg-start text-center d-none d-lg-block">
              RUYUI NFTs as the main entry to our ecosystem, gives you voting rights that allow you to proactively participate in shaping the future with us. As we build, your NFT will start to turn into a virtual avatar which not only allows you to play our on-chain games with your NFT but also makes it compatible with the most popular metaverse platforms/games, such as Nifty Island, Decentraland, Portals, Pixels Online and so on. 

            </p>
            <p class="text-lg-start text-center d-none d-lg-block">
            
You will be eligible to claim $ROW and utilize it in our store, get discounts and exclusive benefits from every collab we make. And this is just the start.

            </p>
          </div>
          <div class="d-block d-lg-none mt-0 mt-md-4 mt-lg-0">
            <p class="text-lg-start text-center" style="font-weight: bolder; font-size: 24px;">RUYUI NFT Collection</p>
            <p class="text-lg-start text-center">
              
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="slider-container">
            <div class="slider">
              <div class="slider-item" *ngFor="let image of currentImages">
                <a target="_blank" [href]="'https://x.com/' + image.userName">
                  <img [src]="image.src" [alt]="'Image ' + image.id">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ====================2nd section==================== -->


  <section class="mt-5 container-fluid px-0 pb-0 position-relative d-block overflow-hidden">
    <div class="d-none d-lg-block">
      
      <img src="../../../assets/nftcollection/WebsiteTree.webp" class="website-tree" alt="">
      <img src="../../../assets/nftcollection/allassets.webp" class="all-sets" alt="">
      <img src="../../../assets/nftcollection/Group.webp" class="arrow_img" alt="">
      <!-- <h1 class="position-absolute fw-bold text-dark roadmap-title "style="font-family: 'Montserrat', sans-serif;">RUYUI STUDIOS 2024 ROADMAP</h1> -->
      <h3 class="fw-bold side_text  "style="font-family: 'Montserrat', sans-serif;">MORE ANIMATED CONTENT</h3>
      <b class="position-absolute fw-bold text-dark text-heading block1"style="font-family: 'Montserrat', sans-serif;">December 2023</b>
      <div class="position-absolute text-wrapper block1-content">
        <p class="mb-1 fw-bold"style="font-family: 'Montserrat', sans-serif;">Minnies OG Collection Launch</p>
        <p style="font-family: 'Montserrat', sans-serif;"> • Nifty Island Integration <br>
          • CC0 License Release <br>
          • 3D Files Distribution</p>
      </div>

      <b class="position-absolute fw-bold text-dark text-heading block2" style="font-family: 'Montserrat', sans-serif;">Q2 2024</b>
      <div class="position-absolute text-wrapper block2-content">
        <p class="mb-1 fw-bold" style="font-family: 'Montserrat', sans-serif;">$ROW Point System Activated</p>
        <p style="font-family: 'Montserrat', sans-serif;"> • Content Creation Award System Activated <br>
          • Point Utility System Activated</p>
      </div>
      <div class="position-absolute text-wrapper block2-more-content">
        <p class="mb-1 fw-bold" style="font-family: 'Montserrat', sans-serif;">Ruyui Honoraries</p>
        <p style="font-family: 'Montserrat', sans-serif;"> • Honorary collection distribution</p>
      </div>

      <b class="position-absolute fw-bold text-dark text-heading block3" style="font-family: 'Montserrat', sans-serif;">Q3 2024</b>
      <div class="position-absolute text-wrapper block3-content">
        <p style="font-family: 'Montserrat', sans-serif;"> • Discord & Telegram Launch <br>
          • Social Media Launch
        </p>
      </div>
      <div class="position-absolute text-wrapper block3-more-content1">
        <p class="mb-1 fw-bold" style="font-family: 'Montserrat', sans-serif;">RUYUI NFT Collection Launch</p>
      </div>
      <div class="position-absolute text-wrapper block3-more-content2">
        <p class="mb-1" style="font-family: 'Montserrat', sans-serif;">Limited Edition Figurines</p>
      </div>
      <div class="position-absolute text-wrapper block3-more-content3">
        <p class="mb-1" style="font-family: 'Montserrat', sans-serif;">Ruyui Studios IRL Company Launch</p>
      </div>
      
      
      <b class="position-absolute fw-bold text-dark text-heading block4" style="font-family: 'Montserrat', sans-serif;">Q4 2024</b>
      <div class="position-absolute text-wrapper block4-content">
        <p class="mb-1 fw-bold" style="font-family: 'Montserrat', sans-serif;">3D AVATARS</p>
        <p style="font-family: 'Montserrat', sans-serif;"> • Download your 3D Files <br>
          • Create your own 3D Models from given traits</p>
      </div>
      <div class="position-absolute text-wrapper block4-more-content">
        <p class="mb-1 fw-bold" style="font-family: 'Montserrat', sans-serif;">RUYUI STORE</p>
        <p style="font-family: 'Montserrat', sans-serif;"> • Access to all types of merch <br>
          • Customize your figurines <br>
          • Collab Merchandise</p>
      </div>

      <b class="position-absolute fw-bold text-dark text-heading block5" style="font-family: 'Montserrat', sans-serif;">H1 2024</b>
      <div class="position-absolute text-wrapper block5-content">
        <p class="mb-1 fw-bold" style="font-family: 'Montserrat', sans-serif;">Multiplayer Platformer Game</p>
        <p style="font-family: 'Montserrat', sans-serif;"> • First co-op game
          <br> <br>
          Release of the Pixel Avatars
          <br><br>
          • Use your pixel avatars in game <br>
          • Get the sprites for other metaverse platforms</p>
      </div>


    </div>

    <!-- <h1 class="text-center d-block d-lg-none px-3" style="font-family: 'Montserrat', sans-serif;">RUYUI STUDIOS 2024 ROADMAP</h1>-->
    <div class="bg_img position-relative d-block d-lg-none" style="overflow: hidden;">
      <img src="../../../assets/nftcollection/Group.webp" class="set_image_position" alt="">
      <img src="../../../assets/nftcollection/Group13617.webp" class="set_image_position1" alt="">
      <div class="container-fluid">
      <!--  <h3 class="fw-bold side_text" style="font-family: 'Montserrat', sans-serif;">MORE ANIMATED CONTENT</h3>
        <h4 class="fw-bold text-center pt-4 side_text1" style="font-family: 'Montserrat', sans-serif;">MORE ANIMATED CONTENT</h4> -->
        <b class="section-heading december-2023 " style="font-family: 'Montserrat', sans-serif;" >December 2023</b>
        <div class="december-2023-details">
          <p class="mb-1 fw-bold"style="font-family: 'Montserrat', sans-serif;" >Minnies OG Collection Launch</p>
          <p style="font-family: 'Montserrat', sans-serif;">
            • Nifty Island Integration <br>
            • CC0 License Release <br>
            • 3D Files Distribution
          </p>
        </div>

        <b class="section-heading q2-2024" style="font-family: 'Montserrat', sans-serif;">Q2 2024</b>
        <div class="q2-2024-details">
          <p class="mb-1 fw-bold" style="font-family: 'Montserrat', sans-serif;">$ROW Point System Activated</p>
          <p style="font-family: 'Montserrat', sans-serif;"> 
            • Content Creation Award System Activated <br>
            • Point Utility System Activated
          </p>
        </div>
        <div class="ruyui-honoraries">
          <p class="mb-1 fw-bold" style="font-family: 'Montserrat', sans-serif;">Ruyui Honoraries</p>
          <p style="font-family: 'Montserrat', sans-serif;">• Honorary collection distribution</p>
        </div>

        <b class="section-heading q3-2024" style="font-family: 'Montserrat', sans-serif;">Q3 2024</b>
        <div class="q3-2024-details">
          <p class="mb-1 fw-bold" style="font-family: 'Montserrat', sans-serif;">Ruyui Honoraries</p>
          <p>
            • Discord & Telegram Launch <br>
            • Social Media Launch
          </p>
        </div>
        <div class="launch-magic-eden">
          <p class="mb-1 fw-bold" style="font-family: 'Montserrat', sans-serif;">RUYUI NFT Collection Launch</p>
        </div>
        <div class="limited-edition-figurines">
          <p class="mb-1" style="font-family: 'Montserrat', sans-serif;">Limited Edition Figurines</p>
        </div>
        <div class="ruyui-studios-irl">
          <p class="mb-1" style="font-family: 'Montserrat', sans-serif;"> Ruyui Studios IRL Launch</p>
        </div>
        
        <b class="section-heading q4-2024" style="font-family: 'Montserrat', sans-serif;">Q4 2024</b>
        <div class="q4-2024-details">
          <p class="mb-1 fw-bold" style="font-family: 'Montserrat', sans-serif;">3D AVATARS</p>
          <p style="font-family: 'Montserrat', sans-serif;">
            • Download your 3D Files <br>
            • Create your own 3D Models <br> from given traits
          </p>
        </div>
        <div class="ruyui-store">
          <p class="mb-1 fw-bold" style="font-family: 'Montserrat', sans-serif;">RUYUI STORE</p>
          <p style="font-family: 'Montserrat', sans-serif;">
            • Access to all types of merch <br>
            • Customize your figurines <br>
            • Collab Merchandise
          </p>
        </div>

        <b class="section-heading h1-2024" style="font-family: 'Montserrat', sans-serif;">H1 2024</b>
        <div class="h1-2024-details">
          <p class="mb-1 fw-bold" style="font-family: 'Montserrat', sans-serif;">Multiplayer Platformer Game</p>
          <p style="font-family: 'Montserrat', sans-serif;">
            • First co-op game <br><br>
            Release of the Pixel Avatars <br><br>
            • Use your pixel avatars in game <br>
            • Get the sprites for metaverse platforms
          </p>
        </div>
      </div>

    </div>
  </section>
  <script>
    const gifCount = 10; // Total number of gifs in the assets folder
    const gifFolder = '../../../assets/nftcollection/'; // Path to the assets folder
    const gifElements = [
      document.getElementById('gif1'),
      document.getElementById('gif2'),
      document.getElementById('gif3'),
      document.getElementById('gif4'),
      document.getElementById('gif5')
    ];

    const gifPaths = [
      'image1.webp',
      'raj.webp',
      'ray-9gag.webp',
      'beanie.webp',
      'Honorary_Dingaling.webp',
      // Add more gif file names as needed
    ];

    function getRandomGifIndex() {
      return Math.floor(Math.random() * gifPaths.length);
    }

    function setRandomGifs() {
      const selectedIndices = new Set();
      while (selectedIndices.size < gifElements.length) {
        selectedIndices.add(getRandomGifIndex());
      }
      selectedIndices.forEach((index, i) => {
        gifElements[i].src = `${gifFolder}${gifPaths[index]}`;
        // Check if the gif loads successfully
        gifElements[i].onerror = () => {
          console.error(`Failed to load gif: ${gifElements[i].src}`);
        };
      });
    }

    setRandomGifs();

  </script>

</body>
