@import "../css/modal.css";

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* navbar */
.logo img {
  width: 40px;
  height: auto;
}

.nav-item a {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.navbar-nav {
  background-color: rgba(221, 221, 221, 0.5);
  border-radius: 20px;
}

.nav-item a:hover {
  color: #0a58ca;
}

.navbar_button {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 103, 0, 0.6);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 16px;
  padding: 5px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}


/* banner-section */
.banner-section {
  position: relative;
  background-image: url('../../assets/minnies/minniestable.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
  background-attachment: fixed;
  min-height: 100vh;
}


.banner-content {
  width: 420px;
  height: 180px;
  background: rgba(54, 54, 54, 0.5);
  border-radius: 40px;
  bottom: 100px;
  left: 70px;
  position: absolute;
}

.banner-content h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Days One', sans-serif;
}

.banner-content p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  /* Adjust font size if necessary */
  color: #ffffff;
  font-weight: 400;
}

@media (max-width: 568px) {
  .banner-content {
    width: 320px;
    background: rgba(54, 54, 54, 0.5);
    border-radius: 40px;
    bottom: 120px;
    left: 40px;
    position: absolute;
  }

  .banner-content h1 {
    font-size: 14px;
  }

  .banner-content p {
    font-size: 12px;
    /* Adjust font size if necessary */
  }
}

@media (max-width: 428px) {
  .banner-content {
    width: 260px;
  }
}

/* nft-collection */
.nft-collection {
  background-color: #F4F2EC;
  min-height: 100vh;
  position: relative;
}

.nft-collection .text-content h1 {
  font-family: 'Days One', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #000;
}

.nft-collection .text-content p {
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000;
}

@media (max-width: 668px) {
  .nft-collection .text-content p {
    font-size: 14px;
  }
}

@media (max-width: 401px) {
  .nft-collection .text-content p {
    font-size: 12px;
  }
}

.nft-collection img {
  border-radius: 15px;
}

.nft-collection .gif-container img:nth-child(1) {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 70px;
  left: 320px !important;
  z-index: 99;
}

.nft-collection .gif-container img:nth-child(2) {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 160px;
  left: 285px !important;
}

.nft-collection .gif-container img:nth-child(3) {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 230px;
  left: 450px !important;
  z-index: 99;
}

.nft-collection .gif-container img:nth-child(4) {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 130px;
  left: 410px !important;
  z-index: 99;
}

.nft-collection .gif-container img:nth-child(5) {
  position: absolute;
  width: 270px;
  height: auto;
  top: 289px;
  left: 300px !important;
  transform: rotate(0deg);
}

@media (min-width: 1908px) {
  .nft-collection {
    min-height: 58vh;
  }
}

@media (min-width: 1599px) {
  .nft-collection {
    min-height: 58vh;
  }
}

@media (max-width: 1368px) {
  .nft-collection {
    min-height: 88vh;
  }

  .nft-collection .gif-container img:nth-child(1) {
    top: 70px;
    left: 230px !important;
  }

  .nft-collection .gif-container img:nth-child(2) {
    top: 160px;
    left: 205px !important;
  }

  .nft-collection .gif-container img:nth-child(3) {
    top: 230px;
    left: 360px !important;
  }

  .nft-collection .gif-container img:nth-child(4) {
    top: 130px;
    left: 330px !important;
    z-index: 1;
  }

  .nft-collection .gif-container img:nth-child(5) {
    top: 289px;
    left: 210px !important;
  }
}

@media (max-width: 1368px) {
  .nft-collection {
    min-height: 78vh !important;
  }
}

@media (max-width: 1268px) {
  .nft-collection {
    min-height: 78vh;
  }

  .nft-collection .gif-container img:nth-child(1) {
    top: 70px;
    left: 200px !important;
  }

  .nft-collection .gif-container img:nth-child(2) {
    top: 160px;
    left: 195px !important;
  }

  .nft-collection .gif-container img:nth-child(3) {
    top: 230px;
    left: 340px !important;
  }

  .nft-collection .gif-container img:nth-child(4) {
    top: 130px;
    left: 310px !important;
  }

  .nft-collection .gif-container img:nth-child(5) {
    top: 289px;
    left: 180px !important;
  }
}

@media (min-width: 1280px) and (max-width: 1280px) and (min-height: 800px) and (max-height: 800px) {
  .nft-collection {
    min-height: 65vh !important;
  }
}

@media (max-width: 1168px) {

  .nft-collection .gif-container img:nth-child(1) {
    top: 70px;
    left: 160px !important;
  }

  .nft-collection .gif-container img:nth-child(2) {
    top: 160px;
    left: 135px !important;
  }

  .nft-collection .gif-container img:nth-child(3) {
    top: 230px;
    left: 300px !important;
  }

  .nft-collection .gif-container img:nth-child(4) {
    top: 130px;
    left: 270px !important;
    z-index: 1;
  }

  .nft-collection .gif-container img:nth-child(5) {
    top: 289px;
    left: 140px !important;
  }
}

@media (max-width: 1024px) {
  .nft-collection {
    min-height: 40vh !important;
  }
}

@media (min-width: 1020px) and (max-width: 1040px) and (min-height: 580px) and (max-height: 620px) {
  .nft-collection {
    min-height: 85vh !important;
  }
}


@media (max-width: 998px) {
  .nft-collection .gif-container img:nth-child(1) {
    top: 311px;
    left: 160px !important;
  }

  .nft-collection .gif-container img:nth-child(2) {
    top: 399px;
    left: 135px !important;
  }

  .nft-collection .gif-container img:nth-child(3) {
    top: 460px;
    left: 300px !important;
  }

  .nft-collection .gif-container img:nth-child(4) {
    top: 365px;
    left: 263px !important;
    z-index: 1;
  }

  .nft-collection .gif-container img:nth-child(5) {
    top: 519px;
    left: 140px !important;
  }
}

@media (max-width: 918px) {
  .nft-collection {
    min-height: 55vh !important;
  }

  .nft-collection .gif-container img:nth-child(1) {
    top: 311px;
    left: 330px !important;
  }

  .nft-collection .gif-container img:nth-child(2) {
    top: 399px;
    left: 296px !important;
  }

  .nft-collection .gif-container img:nth-child(3) {
    top: 460px;
    left: 457px !important;
  }

  .nft-collection .gif-container img:nth-child(4) {
    top: 365px;
    left: 415px !important;
    z-index: 1;
  }

  .nft-collection .gif-container img:nth-child(5) {
    top: 519px;
    left: 299px !important;
  }
}

@media (max-width: 888px) {
  .nft-collection {
    min-height: 60vh !important;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 12px !important;
  }

  .nft-collection {
    min-height: 78vh !important;
  }

  .nft-collection .gif-container img:nth-child(1) {
    top: 311px;
    left: 250px !important;
  }

  .nft-collection .gif-container img:nth-child(2) {
    top: 399px;
    left: 215px !important;
  }

  .nft-collection .gif-container img:nth-child(3) {
    top: 460px;
    left: 377px !important;
  }

  .nft-collection .gif-container img:nth-child(4) {
    top: 365px;
    left: 345px !important;
    z-index: 1;
  }

  .nft-collection .gif-container img:nth-child(5) {
    top: 519px;
    left: 220px !important;
  }
}

@media (max-width: 558px) {
  .fixed-buttons img {
    width: 35px !important;
  }

  #scrollToTopBtn {
    padding: 10px 17px;
  }

  .banner-section {
    min-height: 100vh !important;
  }

  .nft-collection {
    min-height: 102vh !important;
  }

  .nft-collection .gif-container img:nth-child(1) {
    top: 311px;
    left: 160px !important;
  }

  .nft-collection .gif-container img:nth-child(2) {
    top: 399px;
    left: 135px !important;
  }

  .nft-collection .gif-container img:nth-child(3) {
    top: 460px;
    left: 300px !important;
  }

  .nft-collection .gif-container img:nth-child(4) {
    top: 365px;
    left: 263px !important;
    z-index: 1;
  }

  .nft-collection .gif-container img:nth-child(5) {
    top: 519px;
    left: 140px !important;
  }
}

@media (max-width: 431px) {
  .nft-collection {
    min-height: 87vh !important;
  }

  .nft-collection .gif-container img:nth-child(1) {
    top: 367px;
    left: 98px !important;
  }

  .nft-collection .gif-container img:nth-child(2) {
    top: 452px;
    left: 63px !important;
  }

  .nft-collection .gif-container img:nth-child(3) {
    top: 506px;
    left: 214px !important;
  }

  .nft-collection .gif-container img:nth-child(4) {
    top: 420px;
    left: 191px !important;
    z-index: 1;
  }

  .nft-collection .gif-container img:nth-child(5) {
    top: 571px;
    left: 63px !important;
  }
}

@media (max-width: 392px) {
  .nft-collection {
    min-height: 94vh !important;
  }
}

@media (max-width: 375px) {
  .nft-collection {
    min-height: 103vh !important;
  }

  .banner-section {
    min-height: 85vh !important;
  }

  .nft-collection .gif-container img:nth-child(1) {
    width: 80px;
    height: 80px;
    top: 347px;
    left: 98px !important;
  }

  .nft-collection .gif-container img:nth-child(2) {
    width: 80px;
    height: 80px;
    top: 420px;
    left: 63px !important;
  }

  .nft-collection .gif-container img:nth-child(3) {
    width: 80px;
    height: 80px;
    top: 455px;
    left: 180px !important;
  }

  .nft-collection .gif-container img:nth-child(4) {
    width: 80px;
    height: 80px;
    top: 386px;
    left: 154px !important;
    z-index: 1;
  }

  .nft-collection .gif-container img:nth-child(5) {
    width: 217px;
    height: auto;
    top: 510px;
    left: 63px !important;
  }
}

@media (max-width: 365px) {
  .nft-collection {
    min-height: 94vh !important;
  }
}

@media (max-width: 355px) {
  .nft-collection {
    min-height: 80vh !important;
  }
}



.slider {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.slider-container {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #eeece9;
}

.slider img {
  width: 150px;
  height: 100%;
  margin-right: 20px;
  border-radius: 15px;
}

@media (max-width: 912px) {
  .slider img {
    width: 150px;
    margin-right: 20px;
    border-radius: 15px;
  }
}

@media (max-width: 855px) {
  .slider img {
    width: 150px;
    margin-right: 20px;
    border-radius: 15px;
  }
}



/* banner-section2 */
.banner-section2 {
  position: relative;
  background-image: url('../../assets/minnies/VoxelWorldNoText.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

@media (max-width: 480px) {
  .banner-section {
    background-image: url('../../assets/minnies/Minnies_Banner1_Mobile_portrait.webp') !important;
    background-size: 100% 100% !important;
  }

  .banner-section2 {
    background-image: url('../../assets/minnies/Minnies_Banner2_Mobile_Portrait.webp') !important;
    background-size: 100% 100% !important;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .banner-section {
    background-image: url('../../assets/minnies/Minnies_Banner1_Tablet_portrait.webp') !important;
    background-size: 100% 100% !important;
  }

  .banner-section2 {
    background-image: url('../../assets/minnies/Minnies_Banner2_Tablet_Portrait.webp') !important;
    background-size: 100% 100% !important;
  }
}

@media (min-width: 769px) and (max-width : 1024px) {
  .banner-section {
    background-image: url('../../assets/minnies/Minnies_Banner1_Tablet_landscape.webp') !important;
    background-size: 100% 100% !important;
  }

  .banner-section2 {
    background-image: url('../../assets/minnies/Minnies_Banner2_Tablet_Landscape.webp') !important;
    background-size: 100% 100% !important;
  }
}

@supports ( -webkit-touch-callout : none) {
  .banner-section {
  background-attachment:scroll !important;
  }
  .banner-section2 {
    background-attachment:scroll !important;
    }
  }

/* scroll to top */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #E16700;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100;
  font-weight: bold;
  display: none;
  /* Hidden by default */
}

#scrollToTopBtn:hover {
  background-color: #dd8237;
}

/* poup styling  */
#openPopup {
  padding: 10px 2px;
  font-size: 16px;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  z-index: 999;
  right: 0;
  /* Position to the right side */
  top: 8px;
  /* Position to the top */
  width: 440px;
  /* Adjust width as needed */
  height: auto;
  /* Adjust height as needed or set a specific height */
  padding: 20px;
  /* Add some padding */
  border-radius: 8px;
  /* Optional: Add border radius for rounded corners */
}

@media (max-width: 913px) {
  .popup {
    top: 722px !important;
    /* Adjust the top position if needed */
  }

  .banner-section {
    min-height: 95vh;
  }
}

@media (max-width: 821px) {
  .popup {
    top: 540px !important;
    /* Adjust the top position if needed */
  }
}

@media (max-width: 769px) {
  .popup {
    top: 390px !important;
    /* Adjust the top position if needed */
  }
}


.popup-content {
  background-color: #fff;
  margin: 4% auto;
  padding: 20px;
  border: 1.5px solid black;
  border-radius: 2rem;
  width: 98%;
  max-width: 500px;
  position: relative;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.popup-content .close:hover,
.popup-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.custom-px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.custom-padding {
  padding: 1rem;
}

@media (max-width: 555px) {
  .custom-px-2 {
    padding-left: 0rem;
    padding-right: 2rem;
  }

  .custom-padding {
    padding: 0rem !important;
  }

  .popup-content {
    width: 95% !important;
  }

  .popup {
    z-index: 999 !important;
    top: 0px !important;
    background-color: transparent !important;
  }
}

.custom-modal-flex {
  display: flex;
  align-items: top;
  justify-content: space-between;
  font-weight: bold;
}

.modal-span-text-color {
  color: #E16700;
}

.how-to-row {
  text-align: center;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Fixed Buttons Positioned at Bottom Right */
.fixed-buttons {
  position: fixed;
  bottom: 70px;
  right: 22px;
  text-align: right;
  z-index: 1000;
}

.fixed-buttons a {
  display: block;
  margin-bottom: 10px;
}

.nft-container span {
  font-family: 'Days One', sans-serif;
  /* Apply Days One font to the text */
}

.nft-container {
  display: flex;
  align-items: center;
  /* Keeps the image and text aligned in the center vertically */
  gap: 10px;
  /* Adds space between the image and the text */
}

a {
  text-decoration: none !important;
}

.nft-text {
  display: flex;
  color: black;
  flex-direction: column;
  align-items: flex-start;
  /* Aligns text to the left */
}

.nft-text span {
  display: block;
  /* Ensures each span takes up its own line */
}

/* Styles for the container around the NFT link and GIF */
.fixed-buttons .nft-container {
  background-color: rgba(221, 221, 221, 0.5);
  /* White background with opacity */
  border: 0px solid rgb(48, 48, 48);
  /* Black border for the container */
  border-radius: 15px;
  /* Rounded edges for the container */
  padding: 8px;
  /* Padding inside the container */
  display: flex;
  /* Use flexbox to align the image and text side by side */
  align-items: flex;
  /* Aligns items vertically in the center */
  justify-content: center;
  /* Centers items horizontally */
  gap: 10px;
  /* Adds space between the GIF */
}

.fixed-buttons img {
  width: 55px;
  /* Resize the GIF as needed */
  height: auto;
  /* Maintains the aspect ratio of the GIF */
  border: 0px solid rgb(48, 48, 48);
  /* Adds border around the GIF */
  border-radius: 5px;
  /* Rounded edges for the GIF */
}

/* Specific styles targeting the book icon inside the fixed buttons */
.fixed-buttons a[href="/book"] img {
  border: none;
  /* Removes any border */
  background: none;
  /* Removes any background */
}

/* Alternatively, if you want to ensure no other styles affect it indirectly */
.fixed-buttons a[href="/book"] img {
  border: none !important;
  background: none !important;
}

.logo img {
  width: 40px;
  height: auto;
}

@media (min-width: 1380px) {
  .popup {
    top: 150px !important;
    /* Adjust the top position if needed */
  }
}

@media (min-width: 1280px) and (max-width: 1280px) and (min-height: 800px) and (max-height: 800px) {
  .popup {
    top: 157px !important;
    /* Adjust the top position if needed */
  }
}

@media (max-width: 1024px) {
  .popup {
    top: 722px !important;
    /* Adjust the top position if needed */
  }

  .banner-section {
    min-height: 95vh;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 600px) {
  .popup {
    top: -33px !important;
  }
}

@media (max-width: 913px) {
  .popup {
    top: 722px !important;
    /* Adjust the top position if needed */
  }

  .banner-section {
    min-height: 95vh;
  }
}

@media (max-width: 861px) {
  .popup {
    top: 640px !important;
    /* Adjust the top position if needed */
  }
}

@media (max-width: 821px) {
  .popup {
    top: 540px !important;
    /* Adjust the top position if needed */
  }
}

@media (max-width: 769px) {
  .popup {
    top: 390px !important;
    /* Adjust the top position if needed */
  }
}

@media (max-width: 542px) {
  .popup {
    top: 112px !important;
    left: 131px !important;
  }

  .popup-content {
    width: 87% !important;
  }
}

@media (max-width: 431px) {

  .popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: -10px !important;
    /* Position to the right side */
    top: 328px !important;
    /* Position to the top */
    width: 440px;
    /* Adjust width as needed */
    height: auto;
    /* Adjust height as needed or set a specific height */
    padding: 20px;
    /* Add some padding */
    border-radius: 8px;
    /* Optional: Add border radius for rounded corners */
  }
}

@media (max-width: 401px) {
  .popup {
    left: -26px !important;
    /* Position to the right side */
    top: 255px !important;
    /* Position to the top */
    width: 440px;
    /* Adjust width as needed */
  }

}

@media (max-width: 415px) {
  .popup {
    left: -9px !important;
    top: 287px !important;
  }

}

@media (max-width: 391px) {
  .popup {
    left: -24px !important;
    top: 238px !important;
  }

}

@media (max-width: 381px) {
  .popup {
    top: 55px !important;
    /* Position to the top */
  }

  .popup-content {
    width: 87% !important;
  }
}

@media (max-width: 361px) {
  .popup {
    top: 125px !important;
    /* Position to the top */
    left: -42px !important;
  }

  .popup-content {
    width: 87% !important;
  }
}

@media (max-width: 351px) {
  .popup {
    top: 275px !important;
    /* Position to the top */
    left: -30px !important;
  }

  .popup-content {
    width: 87% !important;
  }

  .popup {

    width: 417px;
    /* Adjust width as needed */

  }
}


/* footer */

footer .nav li a:hover {
  color: #f90 !important;
}

.social-media-wrapper ul li a:hover {
  color: #f90 !important;
}

.example {
  display: -ms-grid;
  display: grid;
  transition: all .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
