<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  
<body style="background-color: #F4F2EC;">
    <button id="scrollToTopBtn">↑</button>

    <nav class="navbar navbar-expand-lg px-lg-5 pt-3">
        <div class="container-fluid logo">
            <a routerLink="/home">
                <img src="../../assets/RuyuiLogo.webp" alt="BootstrapBrain Logo" width="40"
                    style="width: 40px;" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item ms-2"> <a class="nav-link" aria-current="page" routerLink="/nftcollection"> RUYUI NFT COLLECTION</a> </li>
                          <li class="nav-item ms-2"> <a class="nav-link" routerLink="/minnies">MINNIES</a> </li>
                          <li class="nav-item ms-2"> <a class="nav-link" routerLink="/team">TEAM</a> </li>
                          <li class="nav-item ms-2"> <a class="nav-link" routerLink="/studio">THE STUDIO</a> </li>
                          <li class="nav-item ms-2"> <a class="nav-link" routerLink="/studio">PORTFOLIO</a> </li>
                </ul>
                <form class="d-flex justify-content-center ms-3"> <a class="navbar_button">FARM
                        $ROW</a> </form>
            </div>
        </div>
    </nav>
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="team-title">THE COUNCIL</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <link href = ""><img class="card-img-top img-fluid" src="../../../assets/team/YAN.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title">YAN</h5>
                            <p class="card-text">CO-FOUNDER</p>
                            <p class="card-text">ART DIRECTOR</p>
                            <a href="https://twitter.com/yan0x422" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-twitter" viewBox="0 0 16 16">
                                   <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.284-.009-.425A6.676 6.676 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.816 6.533 6.533 0 0 1-2.084.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.766-3.429 3.284 3.284 0 0 0 1.018 4.381A3.323 3.323 0 0 1 .64 6.575v.045a3.284 3.284 0 0 0 2.633 3.218 3.203 3.203 0 0 1-.865.115c-.212 0-.418-.021-.618-.06a3.283 3.283 0 0 0 3.066 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045 9.29 9.29 0 0 0 5.026 1.466" />
                               </svg>
                           </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/voxelqueen.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title">VOXEL QUEEN</h5>
                           <p class="card-text">CO-FOUNDER</p>
                            <p class="card-text">3D ARTIST-GAME DEV</p>
                            <a href="https://twitter.com/voxelqueen" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-twitter" viewBox="0 0 16 16">
                                   <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.284-.009-.425A6.676 6.676 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.816 6.533 6.533 0 0 1-2.084.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.766-3.429 3.284 3.284 0 0 0 1.018 4.381A3.323 3.323 0 0 1 .64 6.575v.045a3.284 3.284 0 0 0 2.633 3.218 3.203 3.203 0 0 1-.865.115c-.212 0-.418-.021-.618-.06a3.283 3.283 0 0 0 3.066 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045 9.29 9.29 0 0 0 5.026 1.466" />
                               </svg>
                           </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/bharat.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title">BHARAT KRYMO</h5>
                            <p class="card-text">FOUNDING INVESTOR</p>
                            <p class="card-text">ADVISOR</p>
                            <a href="https://twitter.com/krybharat" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-twitter" viewBox="0 0 16 16">
                                   <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.284-.009-.425A6.676 6.676 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.816 6.533 6.533 0 0 1-2.084.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.766-3.429 3.284 3.284 0 0 0 1.018 4.381A3.323 3.323 0 0 1 .64 6.575v.045a3.284 3.284 0 0 0 2.633 3.218 3.203 3.203 0 0 1-.865.115c-.212 0-.418-.021-.618-.06a3.283 3.283 0 0 0 3.066 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045 9.29 9.29 0 0 0 5.026 1.466" />
                               </svg>
                           </a>
                    </div>
                </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/elton.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title">BORED APE</h5>
                            <p class="card-text">FOUNDING INVESTOR</p>
                            <p class="card-text">ADVISOR</p>
                            <a href="https://twitter.com/eltonhenderson" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-twitter" viewBox="0 0 16 16">
                                   <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.284-.009-.425A6.676 6.676 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.816 6.533 6.533 0 0 1-2.084.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.766-3.429 3.284 3.284 0 0 0 1.018 4.381A3.323 3.323 0 0 1 .64 6.575v.045a3.284 3.284 0 0 0 2.633 3.218 3.203 3.203 0 0 1-.865.115c-.212 0-.418-.021-.618-.06a3.283 3.283 0 0 0 3.066 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045 9.29 9.29 0 0 0 5.026 1.466" />
                               </svg>
                           </a>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="team-title">TEAM</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/lena.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title">LENA</h5>
                            <p class="card-text">SOCIAL MEDIA MANAGER</p>
                            <p class="card-text">CONTENT CREATOR</p>
                           <!-- <a href="https://twitter.com/team10" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-twitter" viewBox="0 0 16 16">
                                   <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.284-.009-.425A6.676 6.676 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.816 6.533 6.533 0 0 1-2.084.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.766-3.429 3.284 3.284 0 0 0 1.018 4.381A3.323 3.323 0 0 1 .64 6.575v.045a3.284 3.284 0 0 0 2.633 3.218 3.203 3.203 0 0 1-.865.115c-.212 0-.418-.021-.618-.06a3.283 3.283 0 0 0 3.066 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045 9.29 9.29 0 0 0 5.026 1.466" />
                               </svg>
                           </a> -->
                    </div>
                </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <link href = ""><img class="card-img-top img-fluid" src="../../../assets/team/berkay.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title">BERKAY</h5>
                            <p class="card-text">DEVOPS</p>
                            <p class="card-text"></p>
                           <!-- <a href="https://twitter.com/voxelqueen" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-twitter" viewBox="0 0 16 16">
                                   <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.284-.009-.425A6.676 6.676 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.816 6.533 6.533 0 0 1-2.084.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.766-3.429 3.284 3.284 0 0 0 1.018 4.381A3.323 3.323 0 0 1 .64 6.575v.045a3.284 3.284 0 0 0 2.633 3.218 3.203 3.203 0 0 1-.865.115c-.212 0-.418-.021-.618-.06a3.283 3.283 0 0 0 3.066 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045 9.29 9.29 0 0 0 5.026 1.466" />
                               </svg>
                           </a>-->
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/ozi.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title">OZI</h5>
                           <p class="card-text">FRONT END DEVELOPER</p>
                            
                           <!-- <a href="https://twitter.com/voxelqueen" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-twitter" viewBox="0 0 16 16">
                                   <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.284-.009-.425A6.676 6.676 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.816 6.533 6.533 0 0 1-2.084.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.766-3.429 3.284 3.284 0 0 0 1.018 4.381A3.323 3.323 0 0 1 .64 6.575v.045a3.284 3.284 0 0 0 2.633 3.218 3.203 3.203 0 0 1-.865.115c-.212 0-.418-.021-.618-.06a3.283 3.283 0 0 0 3.066 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045 9.29 9.29 0 0 0 5.026 1.466" />
                               </svg>
                           </a>-->
                        </div>
                    </div>
                </div>
              
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <link href = ""><img class="card-img-top img-fluid" src="../../../assets/team/sskla.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title">SSKLA</h5>
                            <p class="card-text">BACK END DEVELOPER</p>
                            <p class="card-text">RUYUI CLIENT</p>
                            <!-- <a href="https://twitter.com/voxelqueen" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-twitter" viewBox="0 0 16 16">
                                   <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.284-.009-.425A6.676 6.676 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.816 6.533 6.533 0 0 1-2.084.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.766-3.429 3.284 3.284 0 0 0 1.018 4.381A3.323 3.323 0 0 1 .64 6.575v.045a3.284 3.284 0 0 0 2.633 3.218 3.203 3.203 0 0 1-.865.115c-.212 0-.418-.021-.618-.06a3.283 3.283 0 0 0 3.066 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045 9.29 9.29 0 0 0 5.026 1.466" />
                               </svg>
                           </a> -->
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12">
                        <h1 class="team-title">THE STUDIO</h1>
                    </div>
                </div>
            <div class="row justify-content-center">
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/olly.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">OLLY</h5>
                            <p class="card-text-1">BACKGROUND ARTIST</p>
                            <p class="card-text-1">CONCEPT ARTIST</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/fe.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">FE</h5>
                            <p class="card-text-1">CONCEPT ARTIST</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/yoh.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">YOH</h5>
                            <p class="card-text-1">KEY AND IN BETWEEN ANIMATOR</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/alexander.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">ALEXANDER</h5>
                            <p class="card-text-1">KEY ANIMATOR</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/dennis.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">DENNIS </h5>
                            <p class="card-text-1">KEY ANIMATOR</p>
                            <p class="card-text-1">COLORING ARTIST</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/yui.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">YUI</h5>
                            <p class="card-text-1">CLEAN UP ARTIST</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/muf.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">MUF</h5>
                            <p class="card-text-1">STORYBOARD ARTIST</p>
                        </div>
                    </div>
                </div>
               
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/nemo.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">NEMO</h5>
                            <p class="card-text-1">3D ARTIST</p>
                            <p class="card-text-1">SCULPTOR</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/mvzi.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">MVZI</h5>
                            <p class="card-text-1">FREELANCE 3D ARTIST</p>
                        </div>
                         <a href="https://twitter.com/mvzi333" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-twitter" viewBox="0 0 16 16">
                                   <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.284-.009-.425A6.676 6.676 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.816 6.533 6.533 0 0 1-2.084.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.766-3.429 3.284 3.284 0 0 0 1.018 4.381A3.323 3.323 0 0 1 .64 6.575v.045a3.284 3.284 0 0 0 2.633 3.218 3.203 3.203 0 0 1-.865.115c-.212 0-.418-.021-.618-.06a3.283 3.283 0 0 0 3.066 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045 9.29 9.29 0 0 0 5.026 1.466" />
                               </svg>
                           </a> 
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/onedsoul.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">ONEDSOUL</h5>
                            <p class="card-text-1">PIXEL ARTIST</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/alberto.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">ALBERTO</h5>
                            <p class="card-text-1">PIXEL ARTIST</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/seku.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">SEKU</h5>
                            <p class="card-text-1">GAME DEVELOPER</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/akito.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">AKITO</h5>
                            <p class="card-text-1">GAME DEVELOPER</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3 px-5 px-md-2">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/team/dave.webp" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">DAVE</h5>
                            <p class="card-text-1">GAME DEVELOPER</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>